<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="cnct_eProc" value="Data Source=webapp-dbs.uwmedicine.org;Initial Catalog = eProcessing; Provider=SQLNCLI10; Trusted_Connection=Yes;"/>
    <add key="trace" value="false" />
    <add key="debug" value="false" />
    <add key="logFile" value="eProcLog.txt" />
    <add key="logFilePath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\eProcBackUp\Log\" />
    <add key="attachmentPath" value="\\lapis\h_purchasing$\Purchasing\PMM IS data\Reference Logs\HEMMApps\eProcBackUp\" />
  </appSettings>
  <!--From eProcBackUp.csproj
     <Reference Include="DocumentFormat.OpenXml, Version=2.5.5631.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL">
      <SpecificVersion>False</SpecificVersion>
      <HintPath>..\..\DocumentFormat.OpenXml\2.0.5022.0\DocumentFormat.OpenXml.dll</HintPath>
    </Reference>-->
</configuration>